.upi_container{
    background: #3C53F4;
    padding: 50px 70px !important;
    max-width: 100% !important;
    position: relative;
    color: white;
    align-items: baseline;
}

.right_upi .border_head{
    color: #3C53F4; 
    text-shadow: 0 0 10px #fff;
}

.right_upi h1{
    text-align: right;
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
}


.upi_mover{
    position: absolute;
    left: 0;
    bottom: -307px;
}

.right_upi p{
    padding: 0 0 0 400px;
    text-align: right;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    text-align: right;

    color: #FFFFFF;
}


@media screen and (max-width:968px) {
    .upi_container{
        padding: 0 !important;
        justify-content: center !important;
    }
    .left_upi{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .left_upi img{
        width: 300px;
    }



    .right_upi p{
        padding: 0;
        text-align: center;
    }

    .right_upi h1{
        text-align: center;
        font-size: xx-large;
        line-height: 50px;
    }

    .right_upi .debit-div{
        justify-content: center !important;

    }

    .right_upi img{
        width: 200px;
    }

    .upi_mover{
        display: none;
    }
}