.about_container{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 50px 100px;
    text-align: center;
    overflow: hidden;
}

.about_container img{
    margin-left: 120px;
}