.line_container{
    background: url(../../assets/Frame\ 51\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}


@media screen and (max-width:968px) {
    .line_container{
        background-size: contain;
        height: 50vh !important;
    }
}