.landing_container{
    justify-content: space-between;
    color: white;
    position: relative;
    background: url(../../assets/wireframe.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 100px;
    background-position: 0 200px;
    font-size: 40px;
}

.left_hero h1{
    font-weight: 600;
    font-size: calc(0.65em + 1vmin);
    line-height: 60px;
    min-width: 475px;
}

.left_hero h1 span {
    /*min-width: 500px;*/
}

.landing_para{
    font-weight: 400;
    font-size: calc(0.50em + 1vmin);
    line-height: 34px;
    color: white;
}

.join_waitlist_btn{
    background: #FFFFFF;
    padding: 20px !important;
    color: #3C53F4;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    border-radius: 78px !important;
    box-shadow: none;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.find_out_btn{
    background: #3C53F4;
    padding: 20px !important;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    border-radius: 78px !important;
    box-shadow: none;
    border:none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.right_hero img{
    z-index: 2;
    width: 35vw;
}

.landing_mover{
    position: absolute;
    bottom: 0;
    z-index: 0;
}


@media screen and (max-width:1100px) {
    .landing_container {
        background: none;
        justify-content: space-evenly;
    }

    .landing_background_container{
        background: url(../../assets/mobile_screens/landing.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-position-y: bottom;
    }
    .left_hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left_hero h1{
        font-size: 30px;
        line-height: 50px;
        text-align: center;
    }

    .landing_para{
        text-align: center;
    }

    .join_waitlist_btn , .find_out_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px !important;
    }

    .join_waitlist_btn img , .find_out_btn img{
        width: 15px;
    }

    .landing_mover{
        display: none;
    }

    .right_hero img{
        width: 350px;
    }
}
