.landing_container{
    justify-content: space-between;

}


.left_hero h1{
    font-weight: 600;
    font-size: 50px;
    line-height: 80px;
}

.landing_para{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #2F91CF;
}

.join_waitlist_btn{
    background: radial-gradient(405.61% 923.67% at 0% -407.93%, #F7FAFD 0%, #3C53F4 100%);
    padding: 20px !important;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    border-radius: 78px !important;
}

@media screen and (max-width:968px) {
    .left_hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .left_hero h1{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .landing_para{
        text-align: center;
    }

    .join_waitlist_btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}