#portfolio {
    background-color: #3C53F4;
}

.portfolio_container{
    padding: 50px 70px !important;
    width: 100% !important;
    position: relative;
    color: white;
    font-size: 50px;
}

.portfolio_mover{
    position: absolute;
    right: 0;
    top: -140px;
}

.portfolio_container .border_head{
    color: #3C53F4; 
    text-shadow: 0 0 10px #fff;
}

.portfolio_left{
    width: 50vw;
}

.portfolio_container h1{
    font-weight: 700;
    font-size: calc(0.85em + 1vmin);
    line-height: 50px;
    color: white; 
}

.portfolio_container p{
    font-size: calc(0.30em + 1vmin);
}

.portfolio_right img{
    width: 18vw;
}

@media screen and (max-width:1100px) {
    .portfolio_mover{
        display: none;
    }

    .portfolio_background_container{
         background: url(../../assets/mobile_screens/portfolio.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }

    .portfolio_left{
        width: 100%;
        text-align: center;
    }

    .portfolio_left h1{
        font-size: xx-large;
        line-height: 50px;
    }

    .portfolio_left p{
        font-size: 21px;
    }
    br{
        display: none;
    }
}

@media screen and (max-width: 768px) {
  .portfolio_right img {
    width: 160px !important;
  }
}
