.features_container{
    padding-bottom: 140px;
    background: url(../../assets/rays.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -120px -70px;
    font-size: 80px;
}

.right_feature h1{
    font-weight: 700;
    font-size: calc(0.75em + 1vmin);
    line-height: 95px;
}

.right_feature p{
    font-weight: 400;
    font-size: calc(0.30em + 1vmin);
    line-height: 44px;
    color: white;
}

.scroll-down{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 10px;
    text-decoration: none;
}

.left_feature img{
    width: 18vw;
}

@media screen and (max-width:1100px) {
    .features_container{
        flex-direction: column;
        background: url(../../assets/mobile_screens/features.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-position-y: bottom;
    }
    .right_feature h1{
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }

    .right_feature p{
        text-align: center;
    }

    .left_feature img{
        width: 300px;
    }

    .scroll-down {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .left_feature img {
        width: 150px !important;
    }

    .right_feature h1 {
        font-size: 32px;
    }

    .right_feature p {
        font-size: 22px;
    }
}
