#last{
    display: flex;
    flex-direction: column;
    height: 80vh;
    gap: 50px;
}

.footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #3C53F4;
    padding: 40px;
    gap: 20px;
}

.footer_container h1{
    color: white;
    padding: 0 300px;
    font-weight: 200;
    text-align: center;
}

.footer_bottom_container{
    background: white;
    color: #3C53F4;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding-bottom:50px;
}

.footer_bottom_container .column {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}



.footer_bottom_container .column .header{
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
}


.footer_bottom_container .column .links{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_bottom_container .column .links a{
    text-decoration: none;
    color: #3C53F4;

}


.footer_bottom_container .column .socials{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 90px;
}

.question p{
    margin: 0;
}

@media screen and (max-width:1100px) {
    .footer_container h1{
        padding: 0;
        font-size: x-large;
    }

    .header{ 
        margin-top: 0 !important;
    }

    .socials{
        margin-top: 0 !important;
    }

    .get_in_touch{
        margin-top: 0 !important;
        font-size: 9px !important;
    }

    .footer_bottom_container .column{
        width: 100px;
    }
    
    .footer_bottom_container .column .header{
        font-size: 14px;

    }

    .footer_bottom_container .column .links{
        font-size: 12px;
    }

    
    .footer_bottom_container .column .socials img{
        width: 15px;
    }

    .question p{
        font-size: 12px;
    }
}