.stake_container{
    padding: 50px 70px !important;
    max-width: 100% !important;
    background: #3C53F4;
    position: relative;
}

.left_stake .border_head{
    font-weight: 700;
    font-size: 100px;
    line-height: 122px;
    color: #3C53F4; 
    text-shadow: 0 0 10px #fff;
}

.left_stake .earn_head{
    font-weight: 700;
    font-size: 100px;
    line-height: 90px;
    color: white;
}


.left_stake p{
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    margin-top: 20px;
    color: white;
}

.stake_mover{
    position: absolute;
    right: 0;
    bottom: -150px;
}


@media screen and (max-width:968px) {
    .stake_container{
        flex-direction: column;
        padding: 50px 20px !important;
    }

    .left_stake h1{
        font-size: 30px !important;
        line-height: 40px !important;
        text-align: center;
    }

    .left_stake p{
        font-size: 24px !important;
        line-height: 30px !important;
        text-align: center;
    }

    .right_stake img{
        width: 300px ;
    }

    .stake_mover{
        display: none;
    }
}