

.left_transfer {
    font-weight: 600;
    font-size: 32px;
}

.left_transfer p{
    color: #2A3943;
    font-size: 20px;
    line-height: 25px;
    margin: 20px 0;
}

.right_transfer img{
    z-index: 1;
    width: 15vw;
}

.transfer_mover{
    position: absolute;
    right: 0;
    z-index: -1;
}

@media screen and (max-width:1100px) {
    .transfer_container{
        flex-direction: column-reverse !important;
        gap: 10px ;
        padding-top: 20px;
    }

    .left_transfer {
        text-align: center;
        font-size: 20px;
        line-height: 50px;
    }
    
    .right_transfer img{
        width: 300px;
    }

    .transfer_mover{
        display: none;
    }

    .goodbye{
        text-align: center;
        padding-right: 0 !important;
    }

    .list_item{
        line-height: 23px !important;
    }
}
