.scan_container {
  font-size: 40px;
}

.left_scan h1{
    font-weight: 600;
    font-size: calc(0.75em + 5vmin);
}

.left_scan p{
    color: #2A3943;
    font-size: calc(0.30em + 1vmin);
    line-height: 30px;
    margin: 20px 0;
}

.right_scan img{
    z-index: 1;
    width: 18vw;
}

.scan_mover {
    position: absolute;
    right: 0;
    z-index: -1;
}

.scan_para {
    width: 50%;
}

@media screen and (max-width:1100px) {
    .scan_container {
        flex-direction: column-reverse !important;
        background: none;
        gap: 10px ;
        padding-top: 20px;
        justify-content: space-evenly;
   }

    .scan_background_container {
        background: url(../../assets/mobile_screens/transfer.png) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        background-position-y: bottom;
    }

    .left_scan {
        text-align: center;
        font-size: 20px;
        line-height: 50px;
    }
    
    .right_scan img{
        width: 300px;
    }

    .scan_mover {
        display: none;
    }

    .goodbye{
        text-align: center;
        padding-right: 0 !important;
    }

    .list_item{
        line-height: 23px !important;
    }

    .scan_para{
        width: 100%;
    }
}

@media screen and (max-width:768px) {
  .right_scan img {
    width: 160px !important;
  }

  .left_scan p {
    font-size: 22px;
  }

  .left_transfer_head {
    font-size: 32px !important;
  }
}
